* text=auto !eol
/.checkstyle -text svneol=unset#application/xml
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
/checkstyle.xml -text svneol=unset#application/xml
graphics/cubeicon.ico -text
graphics/logo.png -text
graphics/logo.psd -text
graphics/logo_univr.jpg -text
graphics/moves/B.png -text
graphics/moves/B_inv.png -text
graphics/moves/D.png -text
graphics/moves/D_inv.png -text
graphics/moves/E.png -text
graphics/moves/E_inv.png -text
graphics/moves/F.png -text
graphics/moves/F_inv.png -text
graphics/moves/L.png -text
graphics/moves/L_inv.png -text
graphics/moves/M.png -text
graphics/moves/M_inv.png -text
graphics/moves/R.png -text
graphics/moves/R_inv.png -text
graphics/moves/S.png -text
graphics/moves/S_inv.png -text
graphics/moves/U.png -text
graphics/moves/U_inv.png -text
graphics/moves/X.png -text
graphics/moves/X_inv.png -text
graphics/moves/Y.png -text
graphics/moves/Y_inv.png -text
graphics/moves/Z.png -text
graphics/moves/Z_inv.png -text
graphics/moves/shuffle.png -text
graphics/moves/solved.png -text
/launchRubik.sh -text
lib/beansbinding-1.2.1.jar -text
/manifest.txt -text svneol=unset#text/plain
/rubikcube.jnlp -text svneol=unset#application/x-java-jnlp-file
src/it/univr/rubikcube/gui/ChangeAlgorithm.form -text
src/it/univr/rubikcube/gui/ChangeAlgorithm.java -text
src/it/univr/rubikcube/gui/Credits.form -text
src/it/univr/rubikcube/gui/Credits.java -text
src/it/univr/rubikcube/gui/MainWindow.form -text
src/it/univr/rubikcube/gui/MainWindow.java -text
src/it/univr/rubikcube/gui/NumFaces.form -text
src/it/univr/rubikcube/gui/NumFaces.java -text
src/it/univr/rubikcube/gui/NumRandMoves.form -text
src/it/univr/rubikcube/gui/NumRandMoves.java -text
src/it/univr/rubikcube/gui/package-info.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/model/ColumnRotation.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/model/CubeRotation.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/model/LateralColumnRotation.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/model/Move.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/model/RowRotation.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/model/RubikCubeFaceColor.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/model/RubikCubeModel.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/model/RubikCubeModelColumnRotated.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/model/RubikCubeModelCorner.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/model/RubikCubeModelCubeRotated.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/model/RubikCubeModelDimensionChanged.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/model/RubikCubeModelEdge.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/model/RubikCubeModelEvent.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/model/RubikCubeModelFaceChanged.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/model/RubikCubeModelLateralColumnRotated.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/model/RubikCubeModelRowRotated.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/model/RubikCubeSide.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/model/ThreeDimensionalMove.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/model/package-info.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/moves/B.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/moves/D.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/moves/E.java -text
src/it/univr/rubikcube/moves/F.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/moves/L.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/moves/M.java -text
src/it/univr/rubikcube/moves/R.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/moves/S.java -text
src/it/univr/rubikcube/moves/U.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/moves/X.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/moves/Y.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/moves/Z.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/moves/package-info.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/resolutionstrategies/Fridrich.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/resolutionstrategies/Kociemba.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/resolutionstrategies/KociembaCoordinateCube.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/resolutionstrategies/KociembaCubieCube.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/resolutionstrategies/NoSolutionException.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/resolutionstrategies/ResolutionStrategy.java -text svneol=unset#text/x-java-source
src/it/univr/rubikcube/resolutionstrategies/package-info.java -text svneol=unset#text/x-java-source
test/it/univr/rubikcube/model/RubikCubeModelTest.java -text svneol=unset#text/x-java-source
test/it/univr/rubikcube/moves/SingmasterMovesTest.java -text svneol=unset#text/x-java-source
