Angeleri_Menti_Zago_Rubik.aux
Angeleri_Menti_Zago_Rubik.log
Angeleri_Menti_Zago_Rubik.nav
Angeleri_Menti_Zago_Rubik.out
Angeleri_Menti_Zago_Rubik.snm
Angeleri_Menti_Zago_Rubik.synctex.gz
Angeleri_Menti_Zago_Rubik.tex.backup
Angeleri_Menti_Zago_Rubik.toc
Angeleri_Menti_Zago_Rubik.vrb
